@media (min-width: 320px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 300px;
    }
}

@media (min-width: 375px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 335px;
    }
}
@media (min-width: 576px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 536px;
    }
}
@media (min-width: 768px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 688px;
    }
}
@media (min-width: 992px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 912px;
    }
}
@media (min-width: 1200px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1120px;
    }
}
@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1320px;
    }
}
@media (min-width: 1480px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1400px;
    }
}
@media (max-width: 1479px) {
    .about .ellipseBlue{
        filter: blur(300px);
    }
}
@media (max-width: 1399px) {
    .projects .ellipseRed {
        left: 32%;
    }
    .projects .ellipseBlue {
        left: 66%;
    }
    .about .aboutSliderBg {
        background-position-y: 30%;
        background-position-x: 110%;
    }
    .about .ellipseBlue {
        left: 48%;
    }
    .partnersSliderMob{
        display: block;
    }
    .partnersSlider, .descArrows{
        display: none;
    }
    .mobArrows{
        display: flex;
    }
    .projects .partners .partnersSlide{
        margin-bottom: 30px;
    }
    .jobs {
        padding-top: 120px;
        padding-bottom: 205px;
    }
    .contacts p {
        font-weight: 600;
        font-size: 22px;
    }
}
@media (max-width: 1199px) {
    header{
        background: #24252E;
    }
    header .desktopMenu {
        background: #24252E;
    }
    .projects .ellipseRed {
        left: 17%;
    }
    .projects .ellipseBlue {
        left: 56%;
    }
    .projects .ellipseRed {
        left: 10%;
    }
    h1{
        font-size: 60px;
        line-height: 76px;
    }
    .headerOffset {
        margin-top: 85px;
    }
    .menu li:not(.tabView){
        display: none;
    }
    .about .aboutSliderWrap {
        padding-top: 110px;
        padding-bottom: 100px;
    }
    .about .keypoints .point {
        margin-bottom: 0px;
        margin-top: 40px;
    }
    .about{
        padding-bottom: 0;
    }
    .services, .projects {
        padding-top: 110px;
    }
    .services .serviceWrap{
        margin-bottom: 40px;
    }
    .projects .projectsSlider {
        margin-bottom: 0px;
    }
    .projects .projectContact .mail {
        margin-right: 0px;
        width: 50%;
        margin-bottom: 40px;
    }
    .projectsSlider{
        position: relative;
    }
    .slick-dots{
        width: 912px;
    }
    
    .projectsSlide{
        margin: 0 20px;
    }
    .about .aboutSliderBg{
        background-size: 103.5vw 79vw;
        background-position-y: 13vw;
        background-position-x: 27vw;
    }
    .projects .projectContactBG{
        background-size: 88.5vw 95vw;
        background-position-y: 19vw;
        background-position-x: 22vw;
    }
    .jobs{
        padding-top: 152px;
    }
    .jobs .jobsBg{
        background-size: 100.5vw 100.5vw;
        background-position-y: 0.5vw;
        background-position-x: -38vw;
    }
    .menuAdaptive {
        background: #24252E;
        z-index: 2;
        overflow-y: scroll;
        display: block;
    }
    .btnMenuWrap{
        display: block;
    }
    .menu-btn{
        display: flex;
        align-items: center;
        padding: 0;
    }
    .mobMenu li{
        display: flex;
        height: 130px;
        width: 100%;
        align-items: center;
        justify-content: center;
        border-top: 1px solid #343642;

        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: #FFFFFF;
        position: relative;
    }
    .mobMenu li.activeMenu a{
        color: #F02B4F;
    }
    .mobMenu li:hover a{
        color: #F02B4F;
    }
    .mobMenu li:last-child{
        border-bottom: 1px solid #343642;
    }
    .menuAdaptive .contacts{
        border-bottom: 1px solid #343642;
        margin-bottom: 50px;
    }
    header .desktopMenu{
        padding: 20px 0;
        height: 85px;
    }
    header.headerScroll .desktopMenu {
        padding: 20px 0;
        height: 85px;
    }
    .projects .partners{
        margin-bottom: 0;
    }
}
@media (max-width: 991px){
    .tabHidden{
        display: none;
    }
    .tabShown{
        display: block;
    }
    .projectsSlider{
        position: relative;
    }
    .slick-dots{
        width: 688px;
    }
    
    .projectsSlide{
        margin: 0 20px;
    }
    .projects .ellipseBlue {
        left: 48%;
    }
    .about .ellipseBlue {
        left: 45%;
        width: 418px;
        height: 500px;
        left: 23%;
        top: 58%;
    }
    .about .ellipseRed{
        width: 296.93px;
        height: 300px;
        left: 13%;
        /*top: 8.5%;*/
        filter: blur(200px);
    }
    .projects .ellipseRed{
        width: 334.56px;
        height: 338.02px;
        left: 16%;
       /* top: 59%; */
    }
    .projects .ellipseBlue{
        width: 334.56px;
        height: 338.02px;
        left: 48%;
        /*top: 71%; */
    }
    .jobs .ellipseRed{
        width: 334.56px;
        height: 338.02px;
        left: -10%;
        /*top: 15%;*/
    }
    .jobs .jobsBg{
        background-size: 100.5vw 100.5vw;
        background-position-y: 13.5vw;
        background-position-x: 0vw;
    }
    .about .aboutSlide h1 {
        margin-bottom: 30px;
    }
    .about .aboutSlide h1+p {
        margin-bottom: 40px;
    }
    .about .aboutSlide .btnContact {
        margin-top: 50px;
        width: 100%;
        text-align: center;
    }
    .services h2+p {
        margin-bottom: 40px;
    }
    .projects .projectsSlide .logo {
        width: 186px;
        height: 70px;
        background-size: cover;
        margin: 45px 0 20px 50px;
    }
    .projects .projectsSlide .info {
        padding-top: 30px;
    }
    .projects .projectContact h2+p {
        margin-bottom: 35px;
    }
    .slick-dots{
        margin-top: 50px;
    }
    .partnersSliderMob .slick-dots{
        margin-top: 20px;
    }
    .projects .partners {
        margin-top: 0px;
        margin-bottom: 100px;
    }
    .jobs .tabs{
        margin-top: 60px;
    }
    .jobs .btn-red {
        margin-top: 50px;
        text-align: center;
    }
    .jobs {
        padding-bottom: 150px;
    }
    .contacts {
        padding: 50px 0;
    }
    .contacts .adress{
        margin-bottom: 40px;
    }
    .projects .projectsSlide h2{
        margin: 0 50px;
    }
}
@media (max-width: 767px){
    h1{
        font-size: 35px;
        line-height: 44px;
    }
    h2{
        font-size: 24px;
        line-height: 30px;
    }
    h5{
        font-size: 20px;
        line-height: 25px;
    }
    .p20 {
        font-size: 18px;
        line-height: 140%;
    }
    .p18, .p16{
        font-size: 15px;
    }
    .projectsSlider {
        width: auto!important;
    }
    .projectsSlide {
        min-width: 0!important;
        max-width: auto!important;
    }
    .slick-dots{
        width: 100%;
    }
    .projects .ellipseBlue {
        left: 31%;
    }
    .about .aboutSliderWrap {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .about .aboutSlider {
        margin-left: -20px;
        margin-right: -20px;
    }
    .about .sliderControls-counter {
        font-size: 18px;
    }
    .about .sliderControls-counter{
        display: flex;
        align-items: center;
    }
    .about .sliderControls {
        margin-bottom: 26px;
    }
    .about .aboutSlide {
        padding: 0 20px;
        padding-bottom: 50px;
    }
    .about .aboutSlide h1 {
        margin-bottom: 20px;
    }
    .about .aboutSlide h1+p {
        margin-bottom: 6px;
    }
    .about .aboutSlide .blue {
        margin-bottom: 8px;
        margin-top: 20px;
    }
    .about .keypoints h2 {
        margin-bottom: 20px;
    }
    .about .keypoints .point {
        margin-top: 30px;
    }
    .about .keypoints .pointHeader {
        margin-bottom: 12px;
        line-height: 24px;
        background-size: 24px 24px;
    }
    .services {
        padding-top: 90px;
    }
    .services h2 {
        margin-bottom: 20px;
    }
    .services h2+p {
        margin-bottom: 22px;
    }
    .services .serviceWrap {
        margin-bottom: 34px;
    }
    .projects {
        padding-top: 56px;
    }
    .projects h2 {
        margin-bottom: 20px;
    }
    .projects .projectsSlider {
        margin-left: -20px;
        margin-right: -20px;
    }
    .projects .projectsSlider {
        margin-top: 30px;
        margin-bottom: 0px;
    }
    .projects .projectsSlide .logo {
        width: 90px;
        height: 36px;
        background-size: cover;
        margin: 30px 30px 10px 30px;
    }
    .projects .projectsSlide h2 {
        margin: 0 30px 0 30px;
        font-size: 20px;
        line-height: 25px;
    }
    .projects .projectsSlide .info{
        padding: 30px;
        padding-top: 20px;
    }
    .projects .projectsSlide .p20 {
        margin-bottom: 5px;
    }
    .projects .projectsSlide .lGray {
        margin-bottom: 20px;
    }
    .projects .projectsSlide .greenList li {
        font-size: 15px;
        line-height: 24px;
    }
    .projects .projectsSlide .greenList {
        margin-bottom: 43px;
    }
    .slick-dots {
        margin-top: 40px;
    }
    .projects .projectContact {
        padding-top: 90px;
        padding-bottom: 90px;
    }
    .projects .projectContact .mail .blue, .projects .projectContact .phone .blue{
        font-size: 18px;
        line-height: 22px;
    }
    .projects .projectContact .justifyStart{
        justify-content: space-between;
    }
    .projects .projectContact form {
        padding: 40px 30px 40px 30px;
    }
    .projects .projectContact .fullWidth {
        margin-top: 0px;
        margin-bottom: 40px;
    }
    .projects .projectContact form .justifyStart{
        flex-wrap: wrap;
        justify-content: center;
    }
    .projects .projectContact .agreement {
        margin-left: 0px;
        text-align: center;
    }
    .projects .projectContact .btn-red{
        width: 280px;
        text-align: center;
        margin-bottom: 24px;
    }
    .partnersSliderMob {
        margin-top: 20px;
    }
    .projects .partners .partnersSlide {
        padding: 0 2.5px;
        margin-bottom: 0px;
    }
    .partnersSliderMob {
        margin-left: -2.5px;
        margin-right: -2.5px;
    }
    .projects .partners {
        margin-bottom: 38px;
    }
    .jobs h2 {
        margin-bottom: 20px;
    }
    .jobs h2+p{
        font-size: 16px;
    }
    .jobs .tabs {
        margin-top: 35px;
    }
    .tab {
        padding: 12px 20px;
        font-size: 14px;
    }
    .jobs {
        padding-bottom: 90px;
    }
    .contacts {
        padding: 40px 0;
    }
    .contacts h2 {
        margin-bottom: 20px;
    }
    .contacts .adress {
        margin-bottom: 28px;
    }
    .contacts  p {
        font-size: 20px;
    }
    .contacts a p{
        font-size: 18px;
    }
    .menu li:not(.languageSwap):not(.btnMenuWrap) {
        display: none;
    }
    header .menu li {
        margin-right: 0px;
    }
    header .menu li.languageSwap {
        margin-right: 20px;
        margin-left: 40px;
    }
    .btnMenuWrap {
        padding: 7px 19px;
    }
    header .menu li.languageSwap a {
        padding: 7px 19px;
    }
    .mobMenu li{
        height: 74px;
    }
    .menuAdaptive .contacts {
        margin-bottom: 0px;
        padding: 30px 0;
    }
    .onlyMobNotEvenTabSerious{
        display: block;
    }
    .mobChangingWrap .btnForm{
        width: 100%;
        text-align: center;
        margin-bottom: 35px;
    }
}
@media (max-width: 575px){
    section{
        height: auto;
        width: 375px;
        overflow: hidden;
        margin: auto;
    }
    .about .ellipseRed{
        width: 197.95px;
        height: 200px;
        left: -3vw;
        /*top: 32vw;*/
    }
    .about .ellipseBlue{
        width: 418px;
        height: 500px;
        /*top: 333vw;*/
        left: 0vw;
        filter: blur(400px);
    }
    .projects .ellipseRed{
        width: 334.15px;
        height: 336.78px;
        left: -38vw;
        /*top: 392vw;*/
    }
    .projects .ellipseBlue{
        width: 334.15px;
        height: 336.78px;
        left: 64vw;
        /*top: 474vw;*/
    }
    .jobs .ellipseRed{
        width: 247.44px;
        height: 250px;
        left: 4vw;
        /*top: 21vw;*/
    }
    .projects .partners .partnerLogo{
        background-size: auto;
        background-position: center;
        background-repeat: no-repeat;
    }
    .about .aboutSliderBg {
        background-size: 795.39px 600px;
        background-position-y: -10vw;
        background-position-x: -11vw;
    
    }
    .projects .projectContactBG {
        background-size: 591.41px 633.88px;
        background-position-y: 30vw;
        background-position-x: 15vw;
    }
    .jobs .jobsBg {
        background-size: 642px 645px;
        background-position-y: 30.5vw;
        background-position-x: -13vw;
    }
}
@media (max-width: 374px){
    .row {
        margin-right: -10px !important;
        margin-left: -10px !important;
    }
    .col, [class*="col-"] {
        padding-right: 10px;
        padding-left: 10px;
    }
    section{
        width: 320px;
    }
    h1 {
        font-size: 27px;
        line-height: 40px;
    }
    .contacts .col-6{
        width: 100%!important;
    }
}