@black: #24252E;
@gray: #343642;
@light_gray: #C8C8D2;
@red: #F02B4F;
@orange: #ED9E10;
@green: #BCE000;
@blue: #00C2FF;

div:not(.slick-slider div) p,
a,
header,
header .desktopMenu {
    transition: all 0.2s;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../Fonts/Gilroy-Medium.eot');
    src: url('../Fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/Gilroy-Medium.woff') format('woff'),
        url('../Fonts/Gilroy-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy Bold';
    src: url('../Fonts/Gilroy-Bold.eot');
    src: url('../Fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
        url('../Fonts/Gilroy-Bold.woff') format('woff'),
        url('../Fonts/Gilroy-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Gilroy', sans-serif;
    overflow-x: hidden;
    overflow-y: auto !important;
    background: #24252E;
}

.row {
    margin-right: -20px !important;
    margin-left: -20px !important;
}

.col,
[class*="col-"] {
    padding-right: 20px;
    padding-left: 20px;
}

.compensate-for-scrollbar {
    margin: 0 !important;
}

a {
    text-decoration: none;
}

.container {
    padding: 0 0px;
}

p {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.hidden {
    display: none;
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
}

.noWrap {
    flex-wrap: nowrap;
}

.justifyStart {
    display: flex;
    justify-content: flex-start;
}

.justifyEnd {
    display: flex;
    justify-content: flex-end;
}

.justifyCenter {
    display: flex;
    justify-content: center;
}

.alignCenter {
    display: flex;
    align-items: center;
}

.alignEnd {
    display: flex;
    align-items: flex-end;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.popups {
    display: none;
}

h1 {
    font-family: Gilroy Bold;
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    line-height: 101px;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #FFFFFF;
}

h2 {
    font-family: Gilroy Bold;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 50px;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #FFFFFF;
}

h3 {
    font-family: Gilroy Bold;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 40px;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #FFFFFF;
}

h4 {
    font-family: Gilroy Bold;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 35px;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #FFFFFF;
}

h5 {
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold Bold;
    font-size: 22px;
    line-height: 27px;
    font-feature-settings: 'pnum'on, 'lnum'on;
    color: #FFFFFF;
}

p,
a {
    font-family: Gilroy;
    font-style: normal;
    font-feature-settings: 'pnum'on, 'lnum'on;
    font-weight: 500;
    color: #FFFFFF;
}

.p20 {
    font-size: 20px;
    line-height: 140%;
}

.p18 {
    font-size: 18px;
    line-height: 22px;
}

.p16 {
    font-size: 16px;
    line-height: 140%;
}

.p15 {
    font-size: 15px;
    line-height: 140%;
}

.p14 {
    font-size: 14px;
    line-height: 17px;
}

.bold {
    font-family: Gilroy Bold;
    font-weight: bold;
    line-height: 140%;
}

.blue {
    color: #00C2FF;
}

.lGray {
    color: #C8C8D2;
}

.white {
    color: white;
}

.btn-red {
    background: #F02B4F;
    border-radius: 200px;
    padding: 17px 40px;
    font-family: Gilroy Bold;
    font-style: normal;
    font-weight: 800;
    color: #FFFFFF;
    display: inline-block;
}

.btn-red:hover {
    background: #F02B4F;
    box-shadow: 0px 5px 30px rgba(240, 43, 79, 0.6);
    color: #FFFFFF;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    z-index: 2;
}

header.headerScroll {
    background: rgba(36, 37, 46, 0.8);
}

header .logo {
    width: 140px;
    height: 45px;
    background-image: url(../img/logo.svg);
    background-size: contain;
    background-position-x: left;
    background-position-y: center;
    background-repeat: no-repeat;
}

header .menu li a.btn-red {
    padding: 12px 20px;
    font-size: 14px;
    line-height: 17px;
    font-family: Gilroy Bold;
}

header .menu li {
    margin-right: 40px;
}

header .menu li:last-child {
    margin-right: 0;
}

header .menu li a {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

header .menu li a.btn-red {
    padding: 12px 20px;
}

header .menu li:not(.languageSwap):hover a:not(.btn-red) {
    color: #F02B4F;
}

header .menu li.activeMenu a {
    color: #F02B4F;
}

header .menu li.languageSwap a {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    padding: 9px 19px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    border-radius: 31px;
}

header .menu li.languageSwap a:hover {
    color: #F02B4F;
    border: 1px solid #F02B4F;
}

header .desktopMenu {
    position: relative;
    z-index: 3;
    padding: 30px 0;
    height: 105px;
}

header.headerScroll .desktopMenu {
    padding: 10px 0;
    height: 65px;
}

.menuAdaptive {
    position: absolute;
    right: 0;
    width: 100vw;
    height: calc(100vh - 85px);
    top: -100vh;
    display: none;
}

.btnMenuWrap {
    display: none;
    padding: 9px 19px;
    border-radius: 31px;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.menu-btn p {
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}

.menu-btn.menuCloseBtn p {
    color: #F02B4F;
}

.menu-btn .animation {
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    border-radius: 6px;
    margin-right: 10px;
}

.menu-btn .menu-btn__line {
    display: block;
    width: 15px;
    height: 2px;
    margin-bottom: 4px;
    background-color: #FFFFFF;
    transition: transform 0.3s ease-in-out;
    transform-origin: right;
    border-radius: 1px;
}

.menu-btn .menu-btn__line:nth-child(2) {
    width: 10px;
    margin-left: 5px;
}

.menu-btn .menu-btn__line:nth-child(1) {
    transition-delay: 0.55s;
}

.menu-btn .menu-btn__line:nth-child(2) {
    transition-delay: 0.7s;
}

.menu-btn .menu-btn__line:nth-child(3) {
    transition-delay: 0.85s;
    margin-bottom: 0px;
}

.menu-btn .menu-btn__close {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: rotate(-45deg) translateX(-50%) translateY(-50%);
    transform-origin: top left;
}

.menu-btn .menu-btn__close::before,
.menu-btn .menu-btn__close::after {
    content: "";
    display: block;
    background-color: #F02B4F;
    position: absolute;
    transition: transform 0.3s ease-in-out;
}

.menu-btn .menu-btn__close::before {
    width: 2px;
    height: 20px;
    top: 0;
    left: 50%;
    margin-left: -1px;
    transition-delay: 0.15s;
    transform: scaleY(0);
    transform-origin: top;
}

.menu-btn .menu-btn__close::after {
    width: 20px;
    height: 2px;
    top: 50%;
    left: 0;
    margin-top: -1px;
    transition-delay: 0;
    transform: scaleX(0);
    transform-origin: right;
}

.menu-btn.menuCloseBtn .menu-btn__line {
    transform: scaleX(0);
}

.menu-btn.menuCloseBtn .menu-btn__close::before {
    transform: scaleY(1);
    transition-delay: 0.7s;
}

.menu-btn.menuCloseBtn .menu-btn__close::after {
    transform: scaleX(1);
    transition-delay: 0.85s;
}

.menu-btn.menuCloseBtn .menu-btn__line:nth-child(1) {
    transition-delay: 0.45s;
}

.menu-btn.menuCloseBtn .menu-btn__line:nth-child(2) {
    transition-delay: 0.3s;
}

.menu-btn.menuCloseBtn .menu-btn__line:nth-child(3) {
    transition-delay: 0.15s;
}

.menu-btn.menuCloseBtn .menu-btn__line:nth-child(4) {
    transition-delay: 0s;
}

.onlyMobNotEvenTabSerious {
    display: none;
}

.headerOffset {
    margin-top: 105px;
}

section {
    position: relative;
}

.about {
    padding-bottom: 100px;
}

.about .ellipseRed {
    position: absolute;
    width: 334.56px;
    height: 338.02px;
    left: 19%;
    /*top: 13%;*/

    background: rgba(240, 43, 79, 0.8);
    -webkit-filter: blur(300px);
    filter: blur(300px);
    transform: rotate(-30deg);
    z-index: -1;
    -webkit-transform: translateZ(0px) scale(1.1);
    transform: translateZ(0px) scale(1.1);
}

.about .ellipseBlue {
    position: absolute;
    width: 418px;
    height: 500px;
    left: 52%;
    /*top: 65%;*/

    background: rgba(0, 194, 255, 0.8);
    -webkit-filter: blur(300px);
    filter: blur(300px);
    z-index: -1;
    -webkit-transform: translateZ(0px) scale(1.1);
    transform: translateZ(0px) scale(1.1);
}

.projects .ellipseRed {
    position: absolute;
    width: 334.56px;
    height: 338.02px;
    left: 41%;
    /*top: 58%;*/

    background: rgba(240, 43, 79, 0.8);
    -webkit-filter: blur(300px);
    filter: blur(300px);
    transform: rotate(-30deg);
    z-index: -1;
    -webkit-transform: translateZ(0px) scale(1.1);
    transform: translateZ(0px) scale(1.1);
}

.projects .ellipseBlue {
    position: absolute;
    width: 334.56px;
    height: 338.02px;
    left: 70%;
    /*top: 62%;*/

    background: rgba(0, 194, 255, 0.8);
    -webkit-filter: blur(300px);
    filter: blur(300px);
    transform: rotate(-30deg);
    z-index: -1;
    -webkit-transform: translateZ(0px) scale(1.1);
    transform: translateZ(0px) scale(1.1);
}

.jobs .ellipseRed {
    position: absolute;
    width: 334.56px;
    height: 338.02px;
    left: 10%;
    /*top: 13%;*/

    background: rgba(240, 43, 79, 0.8);
    -webkit-filter: blur(300px);
    filter: blur(300px);
    transform: rotate(-30deg);
    z-index: -1;
    -webkit-transform: translateZ(0px) scale(1.1);
    transform: translateZ(0px) scale(1.1);
}

.about .aboutSliderWrap {
    padding-top: 194px;
    padding-bottom: 225px;
    position: relative;
}

.about .aboutSliderBg {
    background-image: url(../img/sliderBg.png);
    background-position-y: 14px;
    background-position-x: 110%;
    background-repeat: no-repeat;
    background-size: 62.5vw 47vw;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}

.about .aboutSlider {
    margin-left: -40px;
    margin-right: -40px;
}

.about .sliderControls-counter {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    color: #C8C8D2;
    margin-left: 24px;
}

.about .sliderControls {
    margin-bottom: 20px;
}

.about .sliderControls-counter .number {
    color: #F02B4F;
}

.about .aboutSlide {
    padding: 0 40px;
    padding-bottom: 50px;
    background-color: transparent;
}

.about .aboutSlide h1 {
    margin-bottom: 20px;
}

.about .aboutSlide h1+p {
    margin-bottom: 50px;
}

.about .aboutSlide .blue {
    margin-bottom: 5px;
}

.about .aboutSlide .btnContact {
    margin-top: 80px;
}

.about .keypoints h2 {
    margin-bottom: 32px;
}

.about .keypoints .point {
    background: #343642;
    border-radius: 7px;
    padding: 30px 40px;
    margin-bottom: 40px;
}

.about .keypoints .pointHeader {
    margin-bottom: 9px;
    padding-left: 34px;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 24px 24px;
}

.services {
    padding-top: 110px;
}

.services h2 {
    margin-bottom: 32px;
}

.services h2+p {
    margin-bottom: 50px;
}

.services .serviceWrap {
    padding-bottom: 10px;
    position: relative;
}

.services .serviceWrap::after {
    height: 2px;
    width: 100%;
    bottom: 0;
    position: absolute;
    content: '';
    background: #00C2FF;
    box-shadow: 0px 0px 7px #00C2FF;
}

.services .icon {
    height: 40px;
    width: 40px;
    background-size: contain;
    margin-bottom: 20px;
    background-repeat: no-repeat;
}

.services h5 {
    margin-bottom: 20px;
}

.services .blue {
    margin-top: 20px;
    margin-bottom: 10px;
}

.services li {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 140%;
    font-weight: 500;
    color: #FFFFFF;
}

.projects {
    padding-top: 250px;
}

.projects h2 {
    margin-bottom: 30px;
}

.projects .projectsSlider {
    margin-top: 50px;
    margin-bottom: 80px;
}

.projects .projectsSlideBG {
    background: linear-gradient(268.55deg, #343642 44.36%, rgba(52, 54, 66, 0) 94.09%);
    border-radius: 7px;
}

.projects .projectsSlide {
    background-size: cover;
    border-radius: 7px;
}

.projects .projectsSlide .logo {
    width: 186px;
    height: 70px;
    background-size: cover;
    margin: 45px 0 30px 50px;
    border-radius: 7px;
}

.projects .projectsSlide h2 {
    margin: 0 0 0 50px;
}

.projects .projectsSlide .info {
    padding-top: 67px;
    padding-left: 50px;
    padding-right: 50px;
}

.projects .projectsSlide .p20 {
    margin-bottom: 9px;
}

.projects .projectsSlide .lGray {
    margin-bottom: 30px;
}

.projects .projectsSlide .greenList {
    margin-bottom: 51px;
}

.projects .projectsSlide .greenList p {
    color: #BCE000;
}

.projects .projectsSlide .greenList li {
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    margin-bottom: 20px;
    padding-left: 25px;
    background-size: 27px 24px;
    background-repeat: no-repeat;
    background-position: -2px -1px;
    background-image: url(../img/checkGreen.svg);
}

.projects .projectContact {
    padding-top: 154px;
    padding-bottom: 200px;
    position: relative;
}

.projects .projectContactBG {
    background-image: url(../img/projectBG.png);
    background-position-y: 0px;
    background-position-x: 51%;
    background-repeat: no-repeat;
    background-size: 35vw 38vw;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}

.projects .projectContact h2+p {
    margin-bottom: 53px;
}

.projects .projectContact .mail {
    margin-right: 73px;
}

.projects .projectContact .contactHeader {
    margin-bottom: 6px;
    font-size: 13px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.5);
}

.projects .projectContact .mail .blue,
.projects .projectContact .phone .blue {
    font-size: 24px;
    line-height: 29px;
}

.projects .projectContact form {
    padding: 69px 40px 56px 40px;
    background: #24252E;
}

.projects .projectContact .fullWidth {
    margin-top: 86px;
    margin-bottom: 55px;
}

.projects .projectContact .btn-red {
    padding: 17px 20px;
}

.projects .projectContact .agreement {
    margin-left: 46px;
    font-size: 14px;
    line-height: 17px;
    color: rgba(255, 255, 255, 0.6);
}

.projects .partners {
    margin-top: -60px;
    margin-bottom: 100px;
}

.projects .partners h2 {
    margin-bottom: 0;
}

.projects .partners .partnersSlider {
    margin-top: 48px;
    margin-left: -20px;
    margin-right: -20px;
}

.partnersSliderMob {
    margin-top: 48px;
    display: none;
    margin-left: -20px;
    margin-right: -20px;
}

.mobArrows {
    display: none;
}

.tabShown {
    display: none;
}

.projects .partners .partnersSlide {
    padding: 0 20px;
}

.projects .partners .partnerLogo {
    display: block;
    height: 80px;
    background: #343642;
    border-radius: 7px;
    background-position: center;
    background-repeat: no-repeat;
}

.jobs {
    padding-top: 143px;
    padding-bottom: 205px;
}

.jobs .jobsBg {
    background-image: url(../img/job.png);
    background-size: 40vw 41vw;
    background-position-y: top;
    background-position-x: 160px;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}

.jobs h2 {
    margin-bottom: 32px;
}

.jobs .btn-red {
    margin-top: 60px;
}

.jobs .job {
    margin-top: 10px;
    height: 60px;
    background: #343642;
    border-radius: 7px;
}

.jobs .job p {
    padding-left: 46px;
    background-repeat: no-repeat;
    background-position: left center;
    margin-left: 18px;
    line-height: 32px;
}

.jobs .job a {
    height: 24px;
    width: 24px;
    background-image: url(../img/FilePdf.svg);
    margin-right: 22px;
}

footer {
    background: #343642;
    border-radius: 7px;
    padding: 60px 0;
}

.contacts h2 {
    margin-bottom: 32px;
}

.contacts p {
    font-weight: 600;
    font-size: 23px;
}

.contacts p.header {
    font-family: Gilroy Bold;
    font-weight: bold;
    font-size: 13px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 6px;
}

a.blue:hover {
    text-decoration: underline;
    color: #00C2FF;
}

/*tabs*/

.tabs {
    position: relative;
    z-index: 1;
}

.tab {
    padding: 15px 25px;
    border-radius: 7px;
    font-family: Gilroy Bold;
    font-weight: bold;
    font-size: 15px;
    line-height: 140%;
    color: #FFFFFF;

    background: #343642;
    margin-right: 10px;
}

.tab:last-child {
    margin-right: 0px;
}

.tab:hover {
    background: #F02B4F;
    box-shadow: 0px 5px 30px rgba(240, 43, 79, 0.6);
    color: #FFFFFF;
}

.tabContent {
    display: none;
}

.tabContentActive {
    display: block;
}

.tab.tabActive {
    background: #F02B4F;
}

/*input*/
.inputWrap {
    position: relative;
}

input,
textarea {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding-left: 20px;
    display: flex;
    align-items: center;
    height: 40px;
    outline: none;
    border: none;
    border-bottom: 1px solid #595862;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 30px;
    background: none;
}

textarea {
    height: 80px;
    resize: none;
}

input::placeholder,
textarea::placeholder {
    color: #A8A8AC;
}

input:hover,
input:not(:placeholder-shown),
textarea:hover,
textarea:not(:placeholder-shown) {
    border-bottom: 1px solid #00C2FF;
}

input:focus::placeholder,
textarea:focus::placeholder {
    color: transparent;
}

.inputWrap label {
    position: absolute;
    left: 21px;
    top: -10px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #A8A8AC;
    display: none;
}

.inputWrap input:not(:placeholder-shown)+label,
.inputWrap textarea:not(:placeholder-shown)+label {
    display: block;
    z-index: 2;
}

.inputWrap input:focus+label,
.inputWrap textarea:focus+label {
    display: block;
    z-index: 2;
}

/*slick*/
.slick-arrow {
    display: block;
    position: relative;
    width: 40px;
    height: 40px;
    top: 20px;
    left: 0;
    right: 0;
}

.slick-arrow:before {
    content: '';
    opacity: 1;
    width: 40px;
    height: 40px;
    background-size: cover;
    display: block;
}

.slick-next::before {
    background-image: url(../img/ArrowCircleRightWhite.svg);
}

.slick-prev {
    margin-right: 20px;
}

.slick-prev::before {
    background-image: url(../img/ArrowCircleLeftWhite.svg);
}

.slick-next:hover:before {
    background-image: url(../img/ArrowCircleRightRed.svg);
    margin-left: -3px;
}

.slick-prev:hover::before {
    background-image: url(../img/ArrowCircleLeftRed.svg);
}

.slick-dots {
    margin-top: 30px;
    position: unset;
}

.slick-dots li {
    width: 30px;
    height: 3px;
    margin: 0 10px;
}

.slick-dots li button {
    width: 30px;
    height: 3px;
    background: #C8C8D2;
    border-radius: 2px;
    padding: 0;
}

.slick-dots li button:hover {
    background: #F02B4F;
}

.slick-dots .slick-active button {
    background: #F02B4F;
    box-shadow: 0px 0px 7px #F02B4E;
    border-radius: 2px;
}

.slick-dots li button:before {
    display: none;
}

/*preloader*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(36, 37, 46, 0.7);
    z-index: 5;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #F02B4F;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #00C2FF;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #ED9E10;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}