@black: #24252E;
@gray: #343642;
@light_gray: #C8C8D2;
@red: #F02B4F;
@orange: #ED9E10;
@green: #BCE000;
@blue: #00C2FF;

div,
p,
a{
    transition: all 0.2s;
}

@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

body {
    font-family: 'Gilroy', sans-serif;
    overflow-x: hidden;
    overflow-y: auto !important;
    background: #24252E;
}

.row {
    margin-right: -20px !important;
    margin-left: -20px !important;
}

.col,
[class*="col-"] {
    padding-right: 20px;
    padding-left: 20px;
}

.compensate-for-scrollbar {
    margin: 0 !important;
}

a {
    text-decoration: none;
}

.container {
    padding: 0 0px;
}

p {
    margin: 0;
}
ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.hidden {
    display: none;
}

.spaceBetween {
    display: flex;
    justify-content: space-between;
}

.noWrap {
    flex-wrap: nowrap;
}

.justifyStart {
    display: flex;
    justify-content: flex-start;
}

.justifyEnd {
    display: flex;
    justify-content: flex-end;
}

.justifyCenter {
    display: flex;
    justify-content: center;
}

.alignCenter {
    display: flex;
    align-items: center;
}

.alignEnd {
    display: flex;
    align-items: flex-end;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}
.popups {
    display: none;
}

h1{
    font-family: Gilroy;
    font-style: normal;
    font-weight: 900;
    font-size: 80px;
    line-height: 101px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
}
h2{
    font-family: Gilroy;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 50px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
}
h3{
    font-family: Gilroy;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 40px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
} 
h4{
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 35px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
}
h5{
    font-family: Gilroy;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #FFFFFF;
}
p, a{
    font-family: Gilroy;
    font-style: normal;
    font-feature-settings: 'pnum' on, 'lnum' on;
    font-weight: 500;
    color: #FFFFFF;
}
.p20{
    font-size: 20px;
    line-height: 140%;
}
.p16{
    font-size: 16px;
    line-height: 140%;
}
.p15{
    font-size: 15px;
    line-height: 140%;
}
.p14{
    font-size: 14px;
    line-height: 17px;
}
.bold{
    font-weight: bold;
    line-height: 140%;
}
.blue{
    color: #00C2FF;
}
.lGray{
    color: #C8C8D2;
}
.white{
    color: white;
}
.btn-red{
    background: #F02B4F;
    border-radius: 200px;
    padding: 12px 20px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: 800;
    color: #FFFFFF;
    display: inline-block;
}
.btn-red:hover{
    background: #F02B4F;
    box-shadow: 0px 5px 30px rgba(240, 43, 79, 0.6);
    color: #FFFFFF;
}
header{
    padding-top: 30px;
    height: 75px;
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    align-items: center;
    background: #24252E;
}
header .logo{
    width: 140px;
    height: 45px;
    background-image: url(../img/logo.svg);
    background-size: contain;
    background-position-x: left;
    background-position-y: center;
    background-repeat: no-repeat;
}
header .menu li{
    margin-right: 40px;
}
header .menu li a{
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
}
header .menu li:hover a{
    color: #F02B4F;
}
header .menu li.active a{
    color: #F02B4F;
}
header .menu li.languageSwap a{
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    padding: 9px 19px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    box-sizing: border-box;
    border-radius: 31px;
}
.headerOffset{
    margin-top: 75px;
}
.about .aboutSliderWrap{
    padding-top: 194px;
    padding-bottom: 275px;
    background-image: url(../img/sliderBg.png);
    background-position-y: 14px;
    background-position-x: 110%;
    background-repeat: no-repeat;
    background-size: 1200px 903px;
}
.about .sliderControls-counter{
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 140%;
    color: #C8C8D2;
}
.about .sliderControls{
    margin-bottom: 20px;
}
.about .sliderControls-counter .number{
    color: #F02B4F;
}
.about .aboutSlide h1{
    margin-bottom: 20px;
}
.about .aboutSlide h1+p{
    margin-bottom: 50px;
}
.about .aboutSlide .blue{
    margin-bottom: 5px;
}
.about .aboutSlide .btnContact{
    margin-top: 80px;
}
.about .keypoints{
    margin-bottom: 250px;
}
.about .keypoints h2{
    margin-bottom: 32px;
}
.about .keypoints .point{
    background: #343642;
    border-radius: 7px;
    padding: 30px 40px;
    margin-bottom: 40px;
}
.about .keypoints .pointHeader{
    margin-bottom: 9px;
    padding-left: 34px;
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 24px 24px;
}
.about .services{
    margin-bottom: 250px;
}
.about .services h2{
    margin-bottom: 32px;
}
.about .services h2+p{
    margin-bottom: 50px;
}
.about .services .serviceWrap{
    padding-bottom: 10px;
    position: relative;
}
.about .services .serviceWrap::after{
    height: 2px;
    width: 100%;
    bottom: 0;
    position: absolute;
    content: '';
    background: #00C2FF;
    box-shadow: 0px 0px 7px #00C2FF;
}
.about .services .icon{
    height: 40px;
    width: 48px;
    background-size: cover;
    margin-bottom: 20px;
}
.about .services h5{
    margin-bottom: 20px;
}
.about .services .blue{
    margin-top: 20px;
    margin-bottom: 10px;
}
.about .services li{
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 140%;
    font-weight: 500;
    color: #FFFFFF;
}
.projects h2{
    margin-bottom: 30px;
}
.projects .projectsSlider{
    margin-top: 50px;
    margin-bottom: 80px;
}
.projects .projectsSlideBG{
    background: linear-gradient(268.55deg, #343642 44.36%, rgba(52, 54, 66, 0) 94.09%);
    border-radius: 7px;
}
.projects .projectsSlide{
    background-size: cover;
    border-radius: 7px;
}
.projects .projectsSlide .logo{
    width: 186px;
    height: 70px;
    background-size: cover;
    margin: 45px 0 30px 50px;
}
.projects .projectsSlide h2{
    margin: 0 0 0 50px;
}
.projects .projectsSlide .info{
    padding-top: 67px;
    padding-left: 50px;
}
.projects .projectsSlide .p20{
    margin-bottom: 9px;
}
.projects .projectsSlide .lGray{
    margin-bottom: 30px;
}
.projects .projectsSlide .greenList{
    margin-bottom: 51px;
}
.projects .projectsSlide .greenList p{
    color: #BCE000;
}
.projects .projectsSlide .greenList li{
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    margin-bottom: 20px;
    padding-left: 25px;
    background-size: 27px 24px;
    background-repeat: no-repeat;
    background-position: -2px -1px;
    background-image: url(../img/checkGreen.svg);
}
.projects .projectContact{
    padding-top: 100px;
    padding-bottom: 214px;
    background-image: url(../img/projectBG.png);
    background-position-y: 0px;
    background-position-x: 33.49%;;
    background-repeat: no-repeat;
    background-size: 680.26px 732.69px;
}
.projects .projectContact h2+p{
    margin-bottom: 53px;
}
.projects .projectContact .mail{
    margin-right: 73px;
}
.projects .projectContact .contactHeader{
    margin-bottom: 6px;
}
.projects .projectContact form{
    padding: 69px 40px 56px 40px;
}
.projects .projectContact .fullWidth{
    margin-top: 86px;
    margin-bottom: 55px;
}
.projects .projectContact .agreement{
    margin-left: 46px;
}




.inputWrap {
    position: relative;
}
input {
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    padding-left: 20px;
    display: flex;
    align-items: center;
    height: 50px;
    outline: none;
    border: 1px solid #00C2FF;;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 30px;
    background: none;
}
.inputWrap label {
    position: absolute;
    left: 20px;
    top: -12px;
    font-family: Gilroy;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #A8A8AC;
    display: none;
}

.inputWrap input:not(:placeholder-shown)+.label {
    display: block;
    z-index: 2;
}

.inputWrap input:focus+label {
    display: block;
    z-index: 2;
}